
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    
}
li {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lexend Zetta', sans-serif;
    text-decoration: none;
    
  }
nav{
    background-color: rgba(243, 196, 39,0.75);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 5%;
    list-style: none;
  }
nav li{
    display: inline-block;
    padding: 0px 20px;
  }
nav li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #000;
  }
nav li a:hover {
    color: #ff8e09;
  }
.plan  {
   
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-color: #025464;
    transition: 0.6s;
    text-decoration: none;
  }
.plan :hover{
    
    color: #ff8e09;
      
  }
.plan a {
  font-size:12px;
  font-weight: 600;
  font-family: 'Lexend Zetta', sans-serif;
  text-decoration: none;
  color: #fff;
}
.send   {
  font-family: 'Lexend Zetta', sans-serif; 
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 20px;
  border: none;
  background-color: #ff8e09;
  transition: 0.6s;
  text-decoration: none;
}
.send:hover {
  color: #fff;
}
main {
    margin-top: 0px;
    margin-bottom: 70px;
    width: 100%;
    height: 100vh;
    background-image: url(travel_concept_9-01-[Converted]wd.png);
    background-size: 200vh,cover;
    background-repeat: no-repeat;
    background-position:bottom,center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 196, 39,0.75);
   
  }
.content {
    background-color: transparent;
    margin-bottom: 300px;
    margin-top: 100px;
  }
.content li {
    list-style: none;
}
h1 {
    font-size: 60px;
    color: #ff8e09;
    font-family: 'Yeseva One', cursive;
}
main p{
    font-size: 20px;
    font-weight: 700;
    color: #025464;
    font-family: 'Josefin Sans', sans-serif;
}
main h2 {
    font-size: 25px;
    text-align: start ;
    color: #025464;
    font-family: 'Josefin Sans', sans-serif;
}
.start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
.start li{
    list-style: none;
}
.start button {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 24px;
    border: none;
    background-color: #ff8e09;
    transition: 0.6s;
    text-decoration: none;
}
.start button:hover {
    background-color:white;
    color: #ff8e09;    
}
.start button li a {
    color: #000;
    text-decoration: none;
}
.select_date{
    margin-top: 270px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.best {
    margin-bottom: 140px;
    background-color: rgba(243, 196, 39,0.75);
  }
.flex-container1 {
    padding-top: 15px ;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.flex-container2 {
    padding-top: 15px ;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.flex-items {
    background-color: #bdbddd;
    
    
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
  }
.flex-items:hover {
    
    transform: translate(0, -10px);
    
  }
.item1{
    width: 300px;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1559147861-32715680aef8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1031&q=80);
}
.item2{
    width: 500px;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1566303052303-b2d2a9f16f0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1031&q=80);

}
.item3{
    width: 200px;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1566552881560-0be862a7c445?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80);
}
.item4{
    width: 350px;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1496566084516-c5b96fcbd5c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80);
}
.item5{
    width: 200px;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1441911645956-df6e9bbc5496?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
}
.item6{
    width: 450px;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1593181629936-11c609b8db9b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
}
.best-title {
    padding-top: 60px;
    padding-left: 40px;
    font-size: 35px;
    text-align: center;
    color: #000;
    font-family: 'Yeseva One';
  }
h3 {
  padding-top: 20px;
  color: #f8f1f1;
  background-color: transparent;
  text-align: center;
  font-size: 22px;
  transition: all 0.3s ease 0s;
  font-family: 'Josefin sans';
}
h4 {
    padding-top: 10px;
    margin: 10px 20px;
    color: #23283e;
    font-style: normal;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.contact {
    margin-top: 140px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    background-color: #fff;
}

.contact_title {
    padding-top: 60px;
    padding-right: 440px;
    font-size: 35px;
    text-align: center;
  }

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
  }
form {
    width: 90%;
    max-width: 600px;
  }
.form-group {
    margin: 30px 0px;
    
  }
input , textarea {
    width: 100%;
    padding: 10px;
    outline: #bdbddd ;
    border: 1px solid #bdbddd;
    color: #bdbddd;
    background: transparent;
  }
  
.social_menu {
    padding-top:20px ;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.social_menu li{
    display: inline-block;
    padding: 100px 50px 30px 50px;
  }
.social_menu ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: all 0.3s ease 0s;
  }
.social_menu ul li .fa-linkedin:hover {
    color: blue;
  }
.social_menu ul li .fa-instagram:hover {
    color: #fe034e;
  }
.social_menu ul li .fa-github:hover {
    color: black;
  }
.social_menu ul li .fa-dribbble:hover {
    color: #CC2E5D;
  }
.social_menu ul li {
    transition: 0.6s;
  }
.social_menu ul li:hover {
    transform: translate(0, -10px);
  }
  
.footer {
    text-align: center;
    padding-bottom: 20px;
  }
.line {
    margin-top: 20px;
    width: 100%;
    height:2px;
    background-color: #ff5858;
  }
.fa-heart {
    color: #FF5858;
    transition: 0.6s;
    cursor: pointer;
  }
.fa-heart:hover {
    color: #FF5858;
    transform: translate(0, -10px);
    
  }


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2000ms;
  }
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }  


form span{
    display: block;
    margin: 20px 0;
}

button, input, select, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  background-color: #f48208f5;
  padding: 4px 20px;
}
